doctype 5
html
  head
    title= title
    link(rel="stylesheet", type="text/css", href="/css/reset.css")
    link(rel="stylesheet", type="text/css", href="/css/style.css")
    block styles

    script(type="text/javascript", src="/js/libs/jquery-2.0.3.js")
    block scripts
  body
    block content