html, body { height: 100%; width: 100%; }
canvas { height: 100%; width: 100%; }
h1 { background-color: #f00; bottom: 10px; font-size: 130%; font-weight: bold; padding: 6px; position: absolute; right: 10px; }