html, body { height: 100%; width: 100%; }
body { background-color: #A9F; }
canvas { height: 100%; width: 100%; }
h1 { background-color: #000; color: #fff; bottom: 10px; font-size: 130%; font-weight: bold; padding: 6px; position: absolute; right: 10px; z-index: 2; }

#container, #canvas { position: absolute; top: 0; }

#cloud_type_picker { background-color: #000; bottom: 10px; left: 10px; padding: 6px; position: absolute; }
#cloud_type_picker a { color: #fff; }
#cloud_type_picker .active { font-weight: bold; }